{% load static %}

<style>

.menu_direita{
    margin-left: auto !important;
}

.nav-item{
    margin: auto 0;
}

.bg-menu{
    background-color: #95F9E3;
}

.opt-login{
    background-color: #49D49D;
    border-radius: 8px;
}

.opt-login a{
    color: #ffffff !important;
}

.nav-link{
    color: black;
}

.campo_pesquisa{
  width: 100%;
}
.btn_pesquisa{
  width: 100%;
}
</style>

<nav class="navbar navbar-expand-lg bg-menu">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img height="50px" src="{% static 'base/icons/logo.svg' %}" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <div class="d-flex menu_direita">
        <ul class="navbar-nav">
        <li class="nav-item me-4">
          <button type="button" class="btn nav-link" data-bs-toggle="modal" data-bs-target="#modal_pesquisa">
            <img src="{% static 'base/icons/buscar.svg' %}" alt="Pesquisar">
          </button>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" aria-current="page" href="{% url 'videos' %}">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastre-se</a>
        </li>
        <li class="nav-item opt-login">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modal_pesquisa" tabindex="-1" aria-labelledby="modal_pesquisaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="row">
    <div class="col-10 p-0">
    <input type="text" class="campo_pesquisa">
    </div>
    <div class="col-2 p-0">
      <button class="btn_pesquisa" type="submit">pesquisar</button>
    </div>
    </div>
      
      
        
    </div>
  </div>
</div>